body {
  margin: 0;
  font-family: sans-serif;
  background-image: linear-gradient(to right, rgb(134, 155, 182), rgb(4, 25, 53));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
